.aggregation-container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.report-filter-panel {
    background: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 5px #cccccc;
    border-radius: 8px;
    margin-bottom: 30px;
}

.report-filter-panel h3 {
    margin-bottom: 15px;
}

.upload-input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    width: 60%;
    border-radius: 5px;
}


.generate-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-container {
    width: 90%;
    margin: auto;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.report-table th, 
.report-table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}